/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.dusk.local
config.txt
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/.DS_Store
TS.sublime-project
TS.sublime-workspace
.DS_Store
bootstrap/.DS_Store
resources/.DS_Store
resources/views/.DS_Store
resources/views/.DS_Store
.DS_Store
.icloud
oracle.sqlite
public/js/app.js
.DS_Store
yarn.lock
public/js/app.js
public/css/app.css
.DS_Store
.DS_Store
tags
*.swp
composer.phar

*.idea
